<div class="navbar-wagon col-xs-12">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <% if params[:controller] == "offers" %>
      <%= image_tag "logo_pink.png" %>
    <% else %>
      <%= image_tag "logo.png" %>
    <% end %>
  <% end %>
</div>
