<div class="banner" style="background-image: linear-gradient(-225deg, rgba(11,72,135,0.43) 0%, rgba(0,12,12,0.6) 86%),  url(<%= image_path 'background2.jpg'%>);">
  <div class="banner-content">
    <h1>Meet. Halfway </h1>
     <div class="container">
       <div class="row">
         <div class="col-sm-12">
          <div class="search-form-box">
            <div class="search-form-origin text-left">
              <%= form_for @result do |f| %>
              <%= f.select :city_a,
                Airport::AIRPORTS.map { |k,v| [k, v] },
               { include_blank: true },
               { class: 'chosen-select' }%>
               <%end%>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

