// Your footer style
.footer {
  bottom: 0%;
  left: 0%;
  width: 100%;
  margin-bottom: 20px;
}

.footer a {
  font-size: 40px;
}

.footer a:hover {
  text-decoration: none;
  color: grey;
}

.text-footer {
  padding-bottom: 40px;
  font-weight: lighter;
  font-size: 18px;
}

.fa-heart {
color: #FF2B67;
}
