// Your footer style
.footer {
  padding-top: 160px;
}

.footer a {
  font-size: 40px;
}

.footer a:hover {
  text-decoration: none;
  color: grey;
}

.text-footer {
  font-weight: lighter;
  font-size: 18px;
}

.fa-heart {
color: #FF2B67;
}
