.banner {
  color: white;
  text-align: center;
  height: 100vh;
  margin-top: -70px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, #FE8946, #FC5D83);
}
.banner h1 {
  font-size: 70px;
  font-weight: lighter;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-family: Camphor,Open Sans,Segoe UI, sans-serif;
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.banner-title {
  display: inline-flex;
}
.home-button {
  margin-top: 50px;
}

.slogan1 {
  margin-bottom: 20px;
  margin-left: 40px;
}

.slogan2 {
  margin-bottom: 20px;
  margin-left: 40px;
}

.title-header {
  display: inline-block;
}

.plane-img {
  margin-left: 53px;
  width: 80px;
  opacity: 1;
}

/* Navbar search form */



