.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, #FF5D3B, #FF2B67);
}
.banner h1 {
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-family: "MuseoSansRounded";
  font-size: 80px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -4px;
  text-align: center;
}

.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.banner-title {
  display: inline-flex;
}
.home-button {
  margin-top: 50px;
}

.slogan1 {
  margin-bottom: 20px;
  margin-left: 40px;
}

.slogan2 {
  margin-bottom: 20px;
  margin-left: 40px;
}

.title-header {
  display: inline-block;
}

.plane-img {
  margin-left: 53px;
  width: 80px;
  opacity: 1;
}



// @font-face {
//    font-family: MuseoSansRounded300;
//    src:url(fonts/MUSEOSANSROUNDED-300_0.OTF);
// }

/* Navbar search form */



