.header_cards {
    padding: 60px 0;
    padding-bottom: 20px;
}


.total_wrapper_cards {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.wrapper_background {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  max-height: 1000px;

  .background_element {
    z-index: 0;
    width: 120%;
    position: absolute;
    content: '';
    background-image: linear-gradient(-270deg, #FF5D3B 0%, #FF2B67 100%);
    top: 0;
    height: 350px;
    bottom: 0;
    margin: auto;
    transform: rotate(0) translateY(100%);
    left: -10%;
    display: block;
    opacity: 0;
    animation: enterBlock1 1s ease forwards;
    animation-delay: .1s;
    &:last-child {
      opacity: 0;
      top: -160px;
      transform: rotate(0) translateY(100%) scale(.8);
      animation: enterBlock2 1s ease forwards;
      animation-delay: .2s;
    }
  }
}


@keyframes enterBlock1 {
  to {
    opacity: 1;
    transform: rotate(-10deg) translateY(0) ;
  }
}

@keyframes enterBlock2 {
  to {
    opacity: .15;
    transform: rotate(-15deg) translateY(0) scale(1);
  }
}


.home_cards_wrapper {
  position: relative;
    background: none;
}


.action_title {
  margin-top: 85px;
  margin-bottom: 30px;
  color: #fc6479;

  h2 {
    font-size: 28px;
  }
  .total_date_title {
    p{
  font-size: 20px;
  color: #999999;
  }
}
}
  small {
      font-size: 12px;
      font-weight: lighter;
    }

.card_wrapper {
  margin-bottom: 35px;
  margin-left: 6px;
  margin-right: 6px;
  background-color: white;
  min-height: 300px;
  position: relative;
  overflow: hidden;
    box-shadow: 7px 9px 31px -13px rgba(0,0,0,0.75);

  &:hover {
    .card_data {
      transform: translateY(0);
    }
    p {
      color: rgba(55, 45, 45, 0.9);
      font-size: 18px;
    }
  }
}

.card_data {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(225px + 1em));
  transition: transform 0.15s;

  .card_content {
    padding: 1em;
    position: relative;
    z-index: 1;
    background-color: rgba(255, 253, 253, 1);
    // box-shadow: 0 5px 30px 10px rgba(black, 0.3);

    .card_destination {
      font-size: 24px;
      position: absolute;
      left: 20px;
      top: 20px;
    }



    .card_bottom {
      margin-top: 10px;
    }
  }


  .card_title {
    margin-top: 10px;
    color: rgba(70, 50, 50, 0.9);
    .card_total_price {
      position: absolute;
      right: 20px;
      top: 20px;
      font-size: 24px;
    }

  }

  .card_text {
    height: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;

      .card_text_element {
        flex: 0 0 35%;
        font-size: 16px;
        font-weight: lighter;
        @media (min-width: $screen-md) and (max-width: $screen-lg ) {
          flex: 0 0 45%;
        }
        @media only screen and (min-width: 481px) and (max-width: 580px){
        flex: 0 0 48%;

        }
        @media (min-width: $screen-xs) {
          .hide-on-mobile {
            display: none;
          }
        }
        @media (max-width: $screen-xs) {
          flex: 0 0 55%;
          .list-unstyled {
            text-align: center;
            span {
              padding: 0 !important;
            }
          }
          .card_origin_city {
            margin-bottom: 10px !important;
          }
        }

        .airline {
          color: #800000;
          font-size: 14px;
        }
        li {
          font-size: 15px;
        }
        .price {
          p {
            font-size: 20px;
            color: rgba(60, 50, 50, 0.9);
          }
        }

      }

    .card_separator {
      width: 1.3px;
      height: 165px;
      background-color: rgba(45, 45, 45, 0.1);
      position: absolute;
      margin-top: -10px;
    }

    .card_origin_city {
      font-size: 18px;
      font-weight: bolder;
    }
  }
}

.card-link {
 position: absolute;
 top: 0;
 bottom: 0;
 right: 0;
 width: 100%;
 z-index:2;
 background: black;
 opacity: 0;
}



.last_card_home {
  background: linear-gradient(to left, #FF5D3B , #FF2B67 );
  display: flex;
  align-items: center;
  justify-content: center;
  h3 {
    color: rgba(255, 253, 253, 1);
    font-size: 24px;
  }
  h3 :hover {
    background: transparent;
  }
}





