.recap-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 205px;
  @media only screen and (min-width: 0px) and (max-width: $screen-md){
    margin-top: 0px;
    padding-top: 40px;
  }
}

.share-box {
  @media only screen and (min-width: $screen-xs) {
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    margin-top: 238px;
    border: 1px solid white;
    width: 114px;
    height: 60px;
    position: relative;
    border-radius: 5px;
    &:before {
    content: "";
    height: 1px;
    width: 170px;
    position: absolute;
    left: -171px;
    background-color: white;
    top: 50%;
    }
    &:after {
    content: "";
    height: 1px;
    width: 170px;
    position: absolute;
    right: -171px;
    background-color: white;
    top: 50%;
    }
  }
}

.share-box {
  position: relative;
  background-color: #0073FF;
  display: flex;
  align-items: center;
  justify-content: center;
  .btn-messenger {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.share-button {
  border: none;
  border-radius: 5px;
  line-height: 40px;
  color: white;
  font-size: 14px;
  background-color: #2db84b;
  box-shadow: 7px 9px 31px -13px rgba(0,0,0,0.75);
  width: 100px;
  margin: 10px;
}

.flight-option {
  display: flex;
  flex-grow: 1;
  // margin-bottom: 20px;
  border-top: 1px solid #E6E6E6;
  padding: 10px;
}

.background-element-show {
  top: 150px !important;
  &:last-child {
    top: 100px !important;
  }

}

.select-button {
    background-color: #ff2b67;
    color: white;
    outline: none;
    margin-top: 29px;
    border-radius: 5px;
    &:hover {
      color: white;
    }
    &:focus {
      outline: none;
      color: white;
    }
    &:active {
      outline: none;
    }
    &:focus &:active {
      color: white;
      outline: none;
    }
}

.modal-body h2 {
  margin-top: 5px;
}

.outbound-option {
  flex-grow: 1;
  padding: 0 5px;
  margin-left: 5px;
  h2 {
    font-size: 15px;
  }
}

.airports-option {
  padding: 5px;
  color: #9d9d9d;
  font-weight: lighter;
}

.hours-option {
  font-weight: bolder;
}

.return-option {
flex-grow: 1;
padding: 0 10px;
margin-right: 5px;
h2 {
    font-size: 15px;
  }
}

.price-option {
  flex-grow: 1;
  padding: 0 10px;

  h4 {
  margin-top: -7px;
  }
}

.option-select {
  flex-grow: 1;
  padding: 0 10px;
}

.options-separator {
  margin-top: 20px;
  width: 70px;
  background-color: #CCCCCC;
  height: 0px;
  vertical-align: center;
}

.trip {
  flex-grow: 1;
  margin-top: 40px;
  text-align: center;
  // padding: -21px;
  // padding-left: 13%;
  h3 {
    margin-bottom: 29px;
  }
}

.trip-separator {
  background-color: #CCCCCC;
  margin-top: 15vh;
  height: 30vh;
  width: 1.3px;
}

.trips-details {
}

.flights-separator {
  background-color: #CCCCCC;
  height: 1.3px;
  width: 30vw;
  margin-left: 8vw;
  margin-bottom: 30px
}

.book-div-content {
  position: absolute;
  top: 120px;
  padding: 5px;
}

.page-wrapper {
  h1, h3, p {
    color: white
  }
height: 100vh;
}

.book-button {
border: none;
padding: 0 20 10px;
border-radius: 5px;
line-height: 40px;
color: white;
font-size: 14px;
background-color: #FD4251;
box-shadow: 7px 9px 31px -13px rgba(0,0,0,0.75);
margin-left: 30%;
width: 38%;
margin-top: 11px;
}

.book-button-unpadded {
border: none;
border-radius: 5px;
line-height: 40px;
color: white;
font-size: 14px;
background-color: #FD4251;
box-shadow: 7px 9px 31px -13px rgba(0,0,0,0.75);
width: 38%;
margin-top: 11px;
  &:focus {
    outline: none;
  }
}


.trip-show-submit-button {
border: none;
padding: 0px 5px;
border-radius: 4px;
line-height: 40px;
color: white;
font-size: 14px;
border: 1.3px solid white;
margin-top: 50px;
background-color: #FD4251;
margin-right: 10px;
-webkit-transition: all 0.5s ease;
transition: all 0.5s ease;
font-family: "MuseoSansRounded";
}

.show-banner-content {
  padding-bottom: 0em;
}

.trip-details li p {
  margin: 11px 0px;
  ul {
    margin-top: 20px;
  }
}

ul .list-inline {
  padding: 0px;
  margin: 0px;
}

.list-inline > li {
  margin-top : -15px;
}

.second-result {
  margin-top: -9px
}

.change-flights-link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 12px;
  &:hover {
    text-decoration: none;
    color: #FFFFFF;
  font-size: 12px;
  }
}

.change-flight-button {
  float:left;
  margin-left: 90px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
  color: #333333;
  margin-top: -4px;
  &:active {
    outline: none;
    box-shadow: none;
    }
  &:focus {
    outline: none;
  }
  &:active:focus {
    outline: none;
  }
  &:hover {
    text-decoration: underline;
  }
}

.change-flight-button .change-time {
    font-size: 14px;
    color: black;
    text-decoration: underline;
  }

  .pink-background {
    background-color: rgba(255, 192, 203, 0.2);
  }

  .unpaded {
    padding: 0;
  }
