.trips-container {
  display: flex;
  wrap: nowrap;
}

.trip {
  flex-grow: 1;
  margin: 0px 20px;
  text-align: center;
  padding: -21px;
  h3 {
    margin-bottom: 29px;
  }
}

.trip-separator {
  background-color: #CCCCCC;
  margin-top: 15vh;
  height: 30vh;
  width: 1.3px;
}

.trips-details {
}

.flights-separator {
  background-color: #CCCCCC;
  height: 1.3px;
  width: 30vw;
  margin-left: 8vw;
  margin-bottom: 30px
}

.book-div-content {
  position: absolute;
  top: 120px;
  padding: 5px;
}

.page-wrapper {
  h1, h3, p {
    color: white
  }
height: 100vh;
}

.book-button {
border: none;
padding: 0 20 10px;
border-radius: 5px;
line-height: 40px;
color: white;
font-size: 14px;
border: 1.3px solid white;
background-color: #FD4251;
box-shadow: 7px 9px 31px -13px rgba(0,0,0,0.75);
margin-left: 30%;
width: 38%;
margin-top: 50px;
}

.trip-show-submit-button {
border: none;
padding: 0px 5px;
border-radius: 4px;
line-height: 40px;
color: white;
font-size: 14px;
border: 1.3px solid white;
margin-top: 50px;
background-color: #FD4251;
margin-right: 10px;
-webkit-transition: all 0.5s ease;
transition: all 0.5s ease;
font-family: "MuseoSansRounded";
}

.show-banner-content {
  padding-bottom: 0em;
}

.trip-details li p {
  margin: 11px 0px;
  ul {
    margin-top: 20px;
  }
}

ul .list-inline {
  padding: 0px;
  margin: 0px;
}

.list-inline > li {
  margin-top : -15px;
}

.second-result {
  margin-top: -9px
}

.change-flights-link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 12px;
  &:hover {
    text-decoration: none;
    color: #FFFFFF;
  font-size: 12px;
  }
}




// <div class="back-card">
//   <div class="front-card">
//     <div class="front-card-content">
//       <div class="front-card-cities">

//       </div>
//       <div class="front-card-hours">

//       </div>
//     </div>
//     <div class="book-div">

//     </div>
//   </div>
// </div>

// .back-card {
//   z-index: 1;
//   background-color: #333333;
//   width: 350px;
//   height: 350px;
//   position: relative;
// }

// .front-card {
//   background: linear-gradient(to left, #FF6B75, #DB4781);
//   z-index: 2;
//   width: 750px;
//   height: 300px;
//   position: absolute;
//   bottom: 10px;
//   right: -80px;
//   display: flex
// }

// .book-div {
//   height: 100%;
//   width: 30%;
//   position: relative;
//   border-left: 1px dashed #999999
// }


// .front-card-content {
//   width: 100%;
//   width: 80%
// }

// .wrapper-new-card {
//   margin-left: 100px;
//   padding: 100px;
//   z-index: 3
// }



