.show-banner {
  color: white;
  text-align: center;
  height: 40vh;
  margin-top: -70px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.show-banner h1 {
  font-size: 30px;
  font-weight: lighter;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  font-family: 'Source Sans Pro', sans-serif;
}

.show-banner p {
  style: italic;
  font-size: 20px;
  font-weight: lighter;
}

.trips-container {
  display: flex;
  wrap: nowrap;
}

.trip {
  flex-grow: 1
}

.trip-separator {
  background-color: #CCCCCC;
  margin-top: 15vh;
  height: 30vh;
  width: 1.3px;
}

.trips-details {
  padding-top: 30px;
  margin-left: 50px;
  margin-top: 20px
}

.flights-separator {
  background-color: #CCCCCC;
  height: 1.3px;
  width: 30vw;
  margin-left: 5vw
}




// <div class="back-card">
//   <div class="front-card">
//     <div class="front-card-content">
//       <div class="front-card-cities">

//       </div>
//       <div class="front-card-hours">

//       </div>
//     </div>
//     <div class="book-div">

//     </div>
//   </div>
// </div>

.back-card {
  z-index: 1;
  background-color: #333333;
  width: 350px;
  height: 350px;
  position: relative;
}

.front-card {
  background: linear-gradient(to left, #FF6B75, #DB4781);
  z-index: 2;
  width: 750px;
  height: 300px;
  position: absolute;
  bottom: 10px;
  right: -80px;
  display: flex
}

.book-div {
  height: 100%;
  width: 30%;
  position: relative;
  border-left: 1px dashed #999999
}


.front-card-content {
  width: 100%;
  width: 80%
}

.wrapper-new-card {
  margin-left: 100px;
  padding: 100px;
  z-index: 3
}

.book-div-content {
  position: absolute;
  top: 120px;
  padding: 5px;
}

